In [1]:
from sqlalchemy import create_engine
import pandas as pd
import json
import time
def timer(msg):
    #global last_time
    new_time = time.time()
    print '{:,.3f}: {:s}'.format(new_time - last['time'], str(msg))
    last['time'] = new_time
engine = create_engine('mysql://root:admin@localhost/star_custdb')

In [4]:
clients = ['HUL', 'Hero Motocorp', 'P & G', 'GSK', 'Godrej Consumer', 'Nestle India']
client = clients[0]
metric = ['ADGRP','TVT', 'FCT'][0]
tg_markt = 1
tg_name = ['CS 4+', 'CS 4+', 'CS 15+ ABC', 'CS 15+ A', 'CS 15+ AB', 'CS F 15+ ABC', 'CS 15+ AB', 'CS 15+ A',
'CS 4+','CS 15+ AB','CS 15+ A','CS M 15+ ABC','CS 4+','CS M 25+ ABC','CS F 15+ ABC',
'CS F 15+ ABC','CS M 15+','CS 15+','CS 15+'][tg_markt]
mkt_name = ['All India','HSM','HSM','HSM','HSM','HSM','All India','All India',
            'All India 1 Mn+','All India 1 Mn+','All India 1 Mn+','HSM','Mah','HSM',
            'All India 1 Mn+','Mah','Mah','All India 1 Mn+','Mah'][tg_markt]
cat_disply = ['GENRE_DISPLAY_NAME', 'CHANNEL_GROUP_DISPLAY_NAME', 'PROGRAM_GROUP_DISPLAY_NAME'][2]
s_wk_ky = 201530
e_wk_ky = 201551

In [5]:
last = {'time': time.time()}
qry = "CALL tg_affinity_wkl('{:s}', '{:s}', '{:s}', '{:s}', '{:s}', {:.0f}, {:.0f})"
qry = qry.format(client, metric, tg_name, mkt_name, cat_disply, s_wk_ky, e_wk_ky)
print qry
data = pd.read_sql(qry, engine)
timer("call proc")
len(data)

CALL tg_affinity_wkl('HUL', 'ADGRP', 'CS 4+', 'HSM', 'PROGRAM_GROUP_DISPLAY_NAME', 201530, 201551)
3.886: call proc

100

In [68]:
#data['category'] = data['category'].apply(lambda v : v.upper())
data

,category,level,cat_key,level_key,prog_metric,metric_share,client_metric,client_share,ntwk
0,Star Plus,Hindi GEC,2883,657,163605.631734,653426.511028,33907.728185,130051.079029,Star Network
1,Zee TV,Hindi GEC,2950,657,111751.091997,653426.511028,29489.846578,130051.079029,Zee Network
2,Colors,Hindi GEC,2780,657,94914.208674,653426.511028,NaN,130051.079029,Viacom
3,Sony SAB,Hindi GEC,2853,657,88040.483571,653426.511028,19212.562362,130051.079029,Sony Network
4,Life OK,Hindi GEC,2816,657,71287.222955,653426.511028,13432.990864,130051.079029,Star Network
5,Sony Entertainment TV,Hindi GEC,2857,657,61647.750806,653426.511028,13997.956744,130051.079029,Sony Network
6,Sony MAX,Hindi Movies,2822,399,46841.196061,248713.909746,NaN,22846.998226,Sony Network
7,Zee Cinema,Hindi Movies,2954,399,44205.222524,248713.909746,5028.781276,22846.998226,Zee Network
8,Zee Marathi,Marathi GEC,2942,739,41043.664987,78811.844791,8163.699863,19401.358272,Zee Network
9,Star Gold,Hindi Movies,2863,399,35226.447106,248713.909746,195.501022,22846.998226,Star Network
10,Star Jalsha,Bengali GEC,2877,704,29039.520144,63422.813397,3907.164486,11932.119658,Star Network
11,Movies OK,Hindi Movies,2828,399,26628.587914,248713.909746,146.190610,22846.998226,Star Network
12,Zee Bangla,Bengali GEC,2935,704,24217.772757,63422.813397,5725.179299,11932.119658,Zee Network
13,Zee Anmol,Hindi GEC,2931,657,21501.513076,653426.511028,6020.700371,130051.079029,Zee Network
14,Nickelodeon,English Kids,2843,718,20550.133374,50442.780232,613.068863,4181.700496,Viacom
15,Aaj Tak,Hindi News,2761,705,20531.284093,79649.744484,457.185280,1870.903094,TV Today Group
16,Star Utsav,Hindi GEC,2908,657,20174.930025,653426.511028,8796.000876,130051.079029,Star Network
17,Cartoon Network,English Kids,2773,718,18274.087157,50442.780232,2689.992569,4181.700496,Turner Group
18,&pictures,Hindi Movies,2756,399,17656.670880,248713.909746,1432.695325,22846.998226,Zee Network
19,B4U Movies,Hindi Movies,2768,399,17597.881443,248713.909746,6283.336927,22846.998226,OTHERS
20,India TV,Hindi News,2809,705,17112.639949,79649.744484,226.223254,1870.903094,OTHERS
21,Star Pravah,Marathi GEC,2896,739,16324.372271,78811.844791,3203.738739,19401.358272,Star Network
22,UTV Movies,Hindi Movies,2928,399,15476.004788,248713.909746,2.090734,22846.998226,Disney UTV
23,Colors Marathi,Marathi GEC,2793,739,15216.749018,78811.844791,4719.287900,19401.358272,Viacom
24,POGO,Hindi Kids,2845,753,14979.739439,28358.221090,3239.951933,4100.073215,Turner Group
25,Zee News,Hindi News,2943,705,14333.187834,79649.744484,1.158764,1870.903094,Zee Network
26,HUNGAMA,Hindi Kids,2805,753,13378.481651,28358.221090,860.121282,4100.073215,Disney UTV
27,Sony MIX,Hindi Music,2826,732,13124.898146,57906.537124,896.060203,13455.168604,Sony Network
28,Zee Talkies,Marathi Movies,2947,758,11853.675358,11853.675358,2001.654403,2001.654403,Zee Network
29,9X Jalwa,Hindi Music,2759,732,11643.773835,57906.537124,3254.897513,13455.168604,9X Media
...,...,...,...,...,...,...,...,...,...
70,Zee Smile,Hindi GEC,2945,657,1686.102632,653426.511028,1563.284551,130051.079029,Zee Network
71,Saam,Marathi GEC,2852,739,1327.537138,78811.844791,657.022445,19401.358272,OTHERS
72,Sony PIX,English Movies,2844,397,1228.258630,6479.911418,128.785299,627.467557,Sony Network
73,HBO,English Movies,2800,397,1117.279504,6479.911418,127.384859,627.467557,Turner Group
74,Sony Aath,Bengali Movies,2856,716,1078.194877,5884.574387,299.314398,989.683546,Sony Network
75,Fox Life,English Lifestyle,2797,710,1006.684730,2299.835526,52.178153,174.037066,Star Network
76,Ruposhi Bangla,Bengali GEC,2851,704,922.394756,63422.813397,86.542280,11932.119658,OTHERS
77,WB,English Movies,2929,397,919.092304,6479.911418,150.863226,627.467557,Turner Group
78,Discovery Science,English INFO,2785,682,917.786646,19748.347389,NaN,651.994127,Discovery Network
79,TLC,English Lifestyle,2923,710,890.048965,2299.835526,67.425381,174.037066,Discovery Network
80,Ten Cricket,English Sports,2919,742,758.504910,20338.526969,10.600619,460.019932,Zee Network
81,Movies Now,English Movies,2827,397,751.696017,6479.911418,78.475577,627.467557,Times Group
82,Sony SIX,English Sports,2860,742,746.056188,20338.526969,NaN,460.019932,Sony Network
83,Star World,English GEC,2910,789,640.348617,2191.536872,43.907332,194.966399,Star Network
84,Zee Cafe,English GEC,2937,789,519.844772,2191.536872,31.964636,194.966399,Zee Network
85,Zee Studio,English Movies,2946,397,515.056186,6479.911418,60.361081,627.467557,Zee Network
86,AXN,English GEC,2767,789,483.412783,2191.536872,59.447755,194.966399,Sony Network
87,Star Sports 2,English Sports,2901,742,429.366460,20338.526969,22.457568,460.019932,Star Network
88,FX,English GEC,2798,789,408.818401,2191.536872,49.189690,194.966399,Star Network
89,NDTV Good Times,English Lifestyle,2836,710,403.101831,2299.835526,54.433532,174.037066,NDTV Group
90,Star Sports 4,English Sports,2903,742,257.579078,20338.526969,NaN,460.019932,Star Network
91,Music Xpress,Hindi Music,2831,732,241.980324,57906.537124,127.301225,13455.168604,OTHERS
92,Nat Geo Wild,English INFO,2834,682,220.106072,19748.347389,NaN,651.994127,Star Network
93,Star Movies Action,English Movies,2880,397,182.560160,6479.911418,4.697657,627.467557,Star Network
94,Ten Action,English Sports,2917,742,179.998397,20338.526969,0.866060,460.019932,Zee Network
95,Comedy Central,English GEC,2781,789,101.258207,2191.536872,8.216946,194.966399,Viacom
96,Discovery Turbo,English INFO,2786,682,54.876036,19748.347389,8.600845,651.994127,Discovery Network
97,NEO Prime,English Sports,2839,742,44.682198,20338.526969,NaN,460.019932,Nimbus Communications
98,Fox Crime,English GEC,2796,789,37.854093,2191.536872,2.240040,194.966399,Star Network
99,RPLUS,Bengali News,2850,756,32.697708,5196.700620,9.625425,9.625425,OTHERS

In [8]:
# genere tg market time stamps 
afnty_qry = "select TG_KEY, MARKET_KEY, {:s} category from REF_GENRE_TG_MKT".format("GENRE_NAME")
afnty_data = pd.read_sql(afnty_qry, engine)
afnty_data['category'] = afnty_data['category'].apply(lambda v : v.upper())
aff_dict = afnty_data.to_dict(orient='records')
catgry_lis, level_name, level_value = [], [], []
last = {'time': time.time()}

for row in aff_dict:
    last = {'time': time.time()}
    print "\n",row['category'], row['TG_KEY'], row['MARKET_KEY']
    afnty_qry1 = """select NETWORK_DISPLAY_NAME, sum({:s})metric from FACT_TG_AFFINITY_AGG_WK where TG_KEY={:s} 
                    and MARKET_KEY={:s} and {:s}='{:s}' and BARC_WEEK>={:,.0f} and
                    CALENDAR_YEAR>='{:s}' group by NETWORK_DISPLAY_NAME"""
    afnty_qry1 = afnty_qry1.format(metric, str(row['TG_KEY']), str(row['MARKET_KEY']), cat_disply, row['category'], week, year)
    afnty_data1 = pd.read_sql(afnty_qry1, engine)
    # print timer(row['category'])
    for level_lis in  afnty_data1.values:
        catgry_lis.append(row['category'])
        level_name.append(level_lis[0])
        level_value.append(level_lis[1])
res_dict = {'category': catgry_lis, 'level': level_name, 'affinity_denom': level_value}
timer("test1")

BENGALI MOVIES 3042 46

NameError: name 'week' is not defined

In [141]:
afnty = pd.DataFrame(res_dict)
#afnty.columns = ['Affinity']
data['category'] = data['category'].apply(lambda v: v.upper())
afnty = afnty.set_index(['category', 'level'])
data = data.join(afnty, on=['category', 'level'], how='left')
data['Genre Share%'] = data['prog_metric'] / data['metric_share'] * 100
data['Client Genre Share%'] = data['client_metric'] / data['client_share']  * 100
data['affinity'] = data['prog_metric'] / data['affinity_denom'] * 100
data = data[['category', 'level', 'Genre Share%', 'affinity', 'client_metric', 'Client Genre Share%']]

In [5]:
data_tg = pd.read_sql('select * from REF_TG_MKT', engine)

qry_str = """select GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME, sum(ADGRP)prog_metric 
from star.FACT_TG_AFFINITY_AGG_WK where 
    TG_DISPLAY_NAME='{:s}' and
    MARKET_DISPLAY_NAME='{:s}' and
    BARC_WEEK>=0 and
    CALENDAR_YEAR>='2014'
    group by GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME"""

qry_str2 = """select ADVERTISERS_GROUP_DISPLAY_NAME, GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME, sum(ADGRP)prog_metric 
from star.FACT_TG_AFFINITY_AGG_WK where 
    TG_DISPLAY_NAME='{:s}' and
    MARKET_DISPLAY_NAME='{:s}' and
    BARC_WEEK>=0 and
    CALENDAR_YEAR>='2014'
    group by ADVERTISERS_GROUP_DISPLAY_NAME, GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME"""

In [9]:
for row in data_tg.iterrows():
    vals = row[1].values
    tg_disp = vals[3]
    mkt_disp = vals[6]
    print "TG_MARKET", tg_disp, mkt_disp
    print "---------------"
    qry = qry_str.format(tg_disp, mkt_disp)
    qry_2 = qry_str2.format(tg_disp, mkt_disp)
    last = {'time': time.time()}
    all_clients = pd.read_sql(qry, engine)
    timer("All Clients")
    last = {'time': time.time()}
    clients_grp = pd.read_sql(qry_2, engine)
    timer("Clients Group BY")
    print "--------------------\n"

TG_MARKET CS 4+ HSM
---------------
4.911: All Clients
6.230: Clients Group BY
--------------------

TG_MARKET CS 15+ ABC HSM
---------------
3.819: All Clients
3.796: Clients Group BY
--------------------

TG_MARKET CS 15+ A HSM
---------------
1.843: All Clients
2.404: Clients Group BY
--------------------

TG_MARKET CS 15+ AB HSM
---------------
2.348: All Clients
2.347: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC HSM
---------------
2.178: All Clients
2.284: Clients Group BY
--------------------

TG_MARKET CS 15+ AB All India
---------------
2.371: All Clients
2.185: Clients Group BY
--------------------

TG_MARKET CS 15+ A All India
---------------
2.275: All Clients
2.167: Clients Group BY
--------------------

TG_MARKET CS 4+ All India 1 Mn+
---------------
2.677: All Clients
2.437: Clients Group BY
--------------------

TG_MARKET CS 15+ AB All India 1 Mn+
---------------
2.125: All Clients
2.328: Clients Group BY
--------------------

TG_MARKET CS 15+ A All India 1 Mn+
---------------
2.254: All Clients
2.135: Clients Group BY
--------------------

TG_MARKET CS M 15+ ABC HSM
---------------
1.421: All Clients
1.645: Clients Group BY
--------------------

TG_MARKET CS 4+ Mah
---------------
1.449: All Clients
1.421: Clients Group BY
--------------------

TG_MARKET CS M 25+ ABC HSM
---------------
2.252: All Clients
2.229: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC All India 1 Mn+
---------------
1.754: All Clients
1.893: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC Mah
---------------
1.026: All Clients
1.081: Clients Group BY
--------------------

TG_MARKET CS M 15+ Mah
---------------
1.442: All Clients
1.313: Clients Group BY
--------------------

TG_MARKET CS 15+ All India 1 Mn+
---------------
1.805: All Clients
1.482: Clients Group BY
--------------------

TG_MARKET CS 15+ Mah
---------------
1.208: All Clients
1.379: Clients Group BY
--------------------

TG_MARKET CS 4+ WB
---------------
1.052: All Clients
0.944: Clients Group BY
--------------------

TG_MARKET CS 15+ AB Mah
---------------
0.882: All Clients
0.733: Clients Group BY
--------------------

TG_MARKET CS 15+ A Mah
---------------
0.838: All Clients
0.862: Clients Group BY
--------------------

TG_MARKET CS 15+ ABC WB
---------------
0.876: All Clients
0.952: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC WB
---------------
0.934: All Clients
0.877: Clients Group BY
--------------------

TG_MARKET CS 15+ WB
---------------
0.820: All Clients
0.924: Clients Group BY
--------------------

TG_MARKET CS 15-24 ABC HSM
---------------
0.215: All Clients
0.218: Clients Group BY
--------------------

In [15]:
for r in range(5):
    vals = ["CS 4+", "HSM"]
    tg_disp = vals[0]
    mkt_disp = vals[1]
    print "TG_MARKET", tg_disp, mkt_disp, (r+1)
    print "---------------"
    qry = qry_str.format(tg_disp, mkt_disp)
    qry_2 = qry_str2.format(tg_disp, mkt_disp)
    last = {'time': time.time()}
    all_clients = pd.read_sql(qry, engine)
    timer("All Clients")
    last = {'time': time.time()}
    clients_grp = pd.read_sql(qry_2, engine)
    timer("Clients Group BY")
    print "--------------------\n"

TG_MARKET CS 4+ HSM 1
---------------
5.886: All Clients
6.520: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 2
---------------
4.668: All Clients
5.748: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 3
---------------
5.696: All Clients
5.980: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 4
---------------
4.949: All Clients
5.453: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 5
---------------
4.476: All Clients
5.400: Clients Group BY
--------------------

In [11]:
data_tg

,TG_MKT_KEY,TG_KEY,TG_NAME,TG_DISPLAY_NAME,MARKET_KEY,MARKET_NAME,MARKET_DISPLAY_NAME,TG_MARKET_DISPLAY_NAME,SOURCE,CREATED_DATE,LAST_UPD_DT,IS_ACTIVE
0,80,23,CS 4+ YRS,CS 4+,88,HSM 28,HSM,CS 4+ HSM,CUST_SALES,2015-08-11,2015-08-11,Y
1,81,1,CS ABC 15+ YRS,CS 15+ ABC,88,HSM 28,HSM,CS 15+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
2,82,14,CS A 15+,CS 15+ A,88,HSM 28,HSM,CS 15+ A HSM,CUST_SALES,2015-08-11,2015-08-11,Y
3,83,4,CS AB 15+ YRS,CS 15+ AB,88,HSM 28,HSM,CS 15+ AB HSM,CUST_SALES,2015-08-11,2015-08-11,Y
4,84,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,88,HSM 28,HSM,CS F 15+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
5,85,4,CS AB 15+ YRS,CS 15+ AB,86,ALL INDIA 13,All India,CS 15+ AB All India,CUST_SALES,2015-08-11,2015-08-11,Y
6,86,14,CS A 15+,CS 15+ A,86,ALL INDIA 13,All India,CS 15+ A All India,CUST_SALES,2015-08-11,2015-08-11,Y
7,87,23,CS 4+ YRS,CS 4+,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 4+ All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
8,88,4,CS AB 15+ YRS,CS 15+ AB,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 15+ AB All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
9,89,14,CS A 15+,CS 15+ A,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 15+ A All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
10,90,3,CS MALE ABC 15+ YRS,CS M 15+ ABC,88,HSM 28,HSM,CS M 15+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
11,91,23,CS 4+ YRS,CS 4+,27,MAH 09,Mah,CS 4+ Mah,CUST_SALES,2015-08-11,2015-08-11,Y
12,92,3008,CS MALE ABC 25+ YRS,CS M 25+ ABC,88,HSM 28,HSM,CS M 25+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
13,93,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,61,ALL INDIA 1 MN+,All India 1 Mn+,CS F 15+ ABC All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
14,94,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,27,MAH 09,Mah,CS F 15+ ABC Mah,CUST_SALES,2015-08-11,2015-08-11,Y
15,95,3090,CS MALE 15+ YRS,CS M 15+,27,MAH 09,Mah,CS M 15+ Mah,CUST_SALES,2015-08-11,2015-08-11,Y
16,96,3042,CS 15+ YRS,CS 15+,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 15+ All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
17,97,3042,CS 15+ YRS,CS 15+,27,MAH 09,Mah,CS 15+ Mah,CUST_SALES,2015-08-11,2015-08-11,Y
18,98,23,CS 4+ YRS,CS 4+,46,WB 09,WB,CS 4+ WB,CUST_SALES,2015-08-11,2015-08-11,Y
19,99,4,CS AB 15+ YRS,CS 15+ AB,27,MAH 09,Mah,CS 15+ AB Mah,CUST_SALES,2015-08-11,2015-08-11,Y
20,100,14,CS A 15+,CS 15+ A,27,MAH 09,Mah,CS 15+ A Mah,CUST_SALES,2015-08-11,2015-08-11,Y
21,101,1,CS ABC 15+ YRS,CS 15+ ABC,46,WB 09,WB,CS 15+ ABC WB,CUST_SALES,2015-08-11,2015-08-11,Y
22,102,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,46,WB 09,WB,CS F 15+ ABC WB,CUST_SALES,2015-08-11,2015-08-11,Y
23,103,3042,CS 15+ YRS,CS 15+,46,WB 09,WB,CS 15+ WB,CUST_SALES,2015-08-11,2015-08-11,Y
24,104,20,CS ABC 15-24 YRS,CS 15-24 ABC,88,HSM 28,HSM,CS 15-24 ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y

In [6]:
# genere tg market time stamps 
afnty_tab_map = {'GENRE_DISPLAY_NAME': ['NETWORK_DISPLAY_NAME', 'GENRE_NAME', 'REF_GENRE_TG_MKT'], 
 'CHANNEL_GROUP_DISPLAY_NAME': ['GENRE_DISPLAY_NAME', 'CHANNEL_GROUP_DISPLAY_NAME', 'REF_CH_GROUP_TG_MKT'],
'PROGRAM_GROUP_DISPLAY_NAME': ['CHANNEL_GROUP_DISPLAY_NAME', 'CHANNEL_GROUP_DISPLAY_NAME', 'REF_CH_GROUP_TG_MKT']}
afnty_table = afnty_tab_map[cat_disply][2]
afnty_levl = afnty_tab_map[cat_disply][0]
afnty_col_map = afnty_tab_map[cat_disply][1]

afnty_qry = "select TG_DISPLAY_NAME, MARKET_DISPLAY_NAME, {:s} category from {:s}".format(afnty_col_map, afnty_table)
afnty_data = pd.read_sql(afnty_qry, engine)
data['category'] = data['category'].apply(lambda v: v.upper())
print "********"
afnty_data['category'] = afnty_data['category'].dropna().apply(lambda v : v.upper())
afnty_data['category'] = afnty_data[
        'category'].dropna().apply(lambda v: v.upper())
afnty_data = afnty_data[~(afnty_data['category'].isnull())]
afnty_data = afnty_data.drop_duplicates()
aff_dict = json.loads(afnty_data.set_index('category').to_json(orient='index'))

# catgry_lis, level_name, level_value = [], [], []
# last = {'time': time.time()}

# for row in aff_dict:
#     last = {'time': time.time()}
#     #print "\n",row['category'], row['TG_KEY'], row['MARKET_KEY']
#     afnty_qry1 = """select NETWORK_DISPLAY_NAME, sum({:s})metric from FACT_TG_AFFINITY_AGG_WK where TG_KEY={:s} 
#                     and MARKET_KEY={:s} and {:s}='{:s}' and BARC_WEEK>={:,.0f} and
#                     CALENDAR_YEAR>='{:s}' group by NETWORK_DISPLAY_NAME"""
#     afnty_qry1 = afnty_qry1.format(metric, str(row['TG_KEY']), str(row['MARKET_KEY']), cat_disply, row['category'], week, year)
#     afnty_data1 = pd.read_sql(afnty_qry1, engine)
#     print timer(row['category'])
#     for level_lis in  afnty_data1.values:
#         catgry_lis.append(row['category'])
#         level_name.append(level_lis[0])
#         level_value.append(level_lis[1])
# res_dict = {'category': catgry_lis, 'level': level_name, 'affinity_denom': level_value}
aff_dict

********

{u'&PICTURES': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'&TV': {u'MARKET_DISPLAY_NAME': u'HSM', u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'24 GHANTA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'9X JALWA': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'9X M': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'AAJ TAK': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'AAKAASH (BANGLA)': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ABP ANANDA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'ABP MAJHA': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS M 15+'},
 u'ANIMAL PLANET': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'ASIANET': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'ASIANET PLUS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'AXN': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'B4U MOVIES': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'B4U MUSIC': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'BBC WORLD NEWS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'BINDASS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'CAPTAIN TV': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'CARTOON NETWORK': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'CHANNEL V': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'CINEMA TV': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'CNBC AWAAZ': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'CNBC TV18': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'CNN': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'CNN IBN': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'COLORS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'COLORS BANGLA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'COLORS KANNADA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'COLORS MARATHI': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'COMEDY CENTRAL': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'DD NEWS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'DILLI AAJ TAK': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'DISCOVERY CHANNEL': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'DISCOVERY KIDS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'DISCOVERY SCIENCE': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'DISCOVERY TURBO': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'DISNEY CHANNEL': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'E 24': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'ET NOW': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'FILMY': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'FOODFOOD': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'FOX CRIME': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'FOX LIFE': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'FX': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'GEMINI': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'HBO': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'HBO DEFINED': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'HBO HITS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'HEADLINES TODAY': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'HISTORY TV18': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'HUNGAMA': {u'MARKET_DISPLAY_NAME': u'HSM', u'TG_DISPLAY_NAME': u'CS 4+'},
 u'IBN 7': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'IBN LOKMAT': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS M 15+'},
 u'INDIA NEWS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'INDIA TV': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'JALSHA MOVIES': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS 15+'},
 u'JAYA TV': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'KAIRALI': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'KALAIGNAR TV': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'KASTURI': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'KOLKATA TV': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'LIFE OK': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'LIFE OK HD': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'MAA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA', u'TG_DISPLAY_NAME': u'CS 4+'},
 u'MAIBOLI': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'MANORANJAN TV': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'MASTIII': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'MAZHAVIL MANORAMA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'MEGA TV': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'MI MARATHI': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'MOVIES NOW': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'MOVIES OK': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'MTV': {u'MARKET_DISPLAY_NAME': u'HSM', u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'MUSIC INDIA': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'MUSIC XPRESS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'NAT GEO HD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'NAT GEO WILD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'NATIONAL GEOGRAPHIC': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'NDTV 24X7': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'NDTV GOOD TIMES': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'NDTV INDIA': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'NEO CRICKET': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'NEO PRIME': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'NEO SPORTS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'NEWS 24': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'NEWS X': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'NICKELODEON': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'POGO': {u'MARKET_DISPLAY_NAME': u'HSM', u'TG_DISPLAY_NAME': u'CS 4+'},
 u'RAJ TV': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'RISHTEY': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ROMEDY NOW': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'RPLUS': {u'MARKET_DISPLAY_NAME': u'WB', u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'RUPOSHI BANGLA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'SAAM': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'SAHARA ONE': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'SONIC NICKELODEON': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'SONY AATH': {u'MARKET_DISPLAY_NAME': u'WB', u'TG_DISPLAY_NAME': u'CS 15+'},
 u'SONY ENTERTAINMENT TV': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'SONY MAX': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'SONY MAX 2': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'SONY MIX': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'SONY PAL': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'SONY PIX': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'SONY SAB': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ ABC'},
 u'SONY SIX': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR CRICKET': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR GOLD': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'STAR GOLD ADSHARP': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'STAR GOLD HD': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'STAR JALSHA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR MOVIES': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'STAR MOVIES ACTION': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'STAR MOVIES HD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'STAR MOVIES SELECT HD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'STAR PLUS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR PLUS ADSHARP': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR PLUS HD': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR PRAVAH': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR PRAVAH ADSHARP': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR SPORTS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS 1': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS 2': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS 3': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS 4': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS HD1': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS HD2': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS HD3': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR SPORTS HD4': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR UTSAV': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'STAR VIJAY INDIA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'STAR WORLD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'STAR WORLD  HD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'STAR WORLD PREMIERE HD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'SUN TV': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'SURYA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'SUVARNA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'TEN ACTION': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'TEN ACTION+': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'TEN CRICKET': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'TEN SPORTS': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'TEZ': {u'MARKET_DISPLAY_NAME': u'HSM', u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'TIMES NOW': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'TLC': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'TRAVEL XP HD': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'TV9 MARATHI': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS M 15+'},
 u'UDAYA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'UTV ACTION': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'UTV MOVIES': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'UTV WORLD MOVIES': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'WB': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'ZEE 24 TAAS': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS M 15+'},
 u'ZEE ACTION': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'ZEE ANMOL': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ZEE BANGLA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ZEE BANGLA CINEMA': {u'MARKET_DISPLAY_NAME': u'WB',
  u'TG_DISPLAY_NAME': u'CS 15+'},
 u'ZEE BUSINESS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'ZEE CAFE': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'ZEE CINEMA': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'ZEE CLASSIC': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'ZEE KANNADA': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'ZEE KHANA KHAZANA': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'ZEE MARATHI': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ZEE NEWS': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 25+ ABC'},
 u'ZEE PREMIER': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS M 15+ ABC'},
 u'ZEE SMILE': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ZEE STUDIO': {u'MARKET_DISPLAY_NAME': u'ALL INDIA 1 MN+',
  u'TG_DISPLAY_NAME': u'CS 15+ AB'},
 u'ZEE TALKIES': {u'MARKET_DISPLAY_NAME': u'MAH',
  u'TG_DISPLAY_NAME': u'CS 15+'},
 u'ZEE TAMIL': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'ZEE TELUGU': {u'MARKET_DISPLAY_NAME': u'ALL INDIA',
  u'TG_DISPLAY_NAME': u'CS 4+'},
 u'ZEE TV': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ZINDAGI': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS F 15+ ABC'},
 u'ZING': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'},
 u'ZOOM': {u'MARKET_DISPLAY_NAME': u'HSM',
  u'TG_DISPLAY_NAME': u'CS 15-24 ABC'}}

In [7]:
cat_lev_lis = data[['category', 'level']].values
cat_lev_key_val = data[['cat_key', 'level_key']].values
cat_level_dict = {'PROGRAM_GROUP_DISPLAY_NAME': ['CHANNEL_GROUP_KEY', 'PROGRAM_GROUP_KEY'],
                 'CHANNEL_GROUP_DISPLAY_NAME': ['CHANNEL_GROUP_KEY', 'GENRE_KEY'],
                 'GENRE_DISPLAY_NAME': ['GENRE_KEY', 'NETWORK_KEY']}
key_name = cat_level_dict[cat_disply]
print key_name
last = {'time': time.time()}
for val, keys in zip(cat_lev_lis, cat_lev_key_val):
    #print keys
    key = val[1] if cat_disply == 'PROGRAM_GROUP_DISPLAY_NAME' else val[0]
    key = key.upper()
    if key in aff_dict:
        tg_key = aff_dict[key]['TG_DISPLAY_NAME']
        mk_key = aff_dict[key]['MARKET_DISPLAY_NAME']
        afnty_qry1 = """select sum({:s}) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='{:s}' 
                         and MARKET_DISPLAY_NAME='{:s}' and ({:s}, {:s})=({:.0f}, {:.0f}) and WEEK_KEY>={:.0f}
                         and WEEK_KEY<={:.0f}
                         """
        afnty_qry1 = afnty_qry1.format(metric, tg_key, mk_key, key_name[0], key_name[1], keys[0], keys[1], s_wk_ky, e_wk_ky)
        print afnty_qry1
        #last = {'time': time.time()}
        afnty_data1 = pd.read_sql(afnty_qry1, engine)
        print val[0],val[1],afnty_data1
        #timer(val[0]+'-'+val[1])
timer("test2")

['CHANNEL_GROUP_KEY', 'PROGRAM_GROUP_KEY']
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2853, 455805) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

TAARAK MEHTA KA OOLTAH CHASHMA Sony SAB          metric
0  52170.321901
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2816, 444812) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SAVDHAAN INDIA Life OK          metric
0  51619.598448
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2857, 348247) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

C.I.D. Sony Entertainment TV          metric
0  29468.025939
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 473832) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

YE HAI MOHABBATEIN Star Plus          metric
0  42860.252598
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 359360) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

DIYA AUR BAATI HUM Star Plus          metric
0  33917.406575
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 399596) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

KUMKUM BHAGYA Zee TV        metric
0  29692.9069
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 441818) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SAATHIYA SAATH NIBHANA Star Plus         metric
0  27696.51094
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 351579) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

COMEDY NIGHTS WITH KAPIL Colors          metric
0  26579.767641
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 393052) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

JODHA AKBAR Zee TV          metric
0  27179.312116
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 444600) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SASURAL SIMAR KA Colors          metric
0  13818.893289
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 469767) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

VEERA Star Plus          metric
0  18644.161756
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 467325) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

UDAAN Colors          metric
0  15064.313855
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 359637) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

DOLI ARMANO KI Zee TV          metric
0  19179.734492
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 368000) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

EK HASINA THI Star Plus          metric
0  18595.777322
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 474380) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

YEH RISHTA KYA KEHLATA HAI Star Plus          metric
0  16212.447088
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 415230) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

MERI AASHIQUI TUM SE HI Colors         metric
0  13826.35322
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 391866) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

JAMAI RAJA Zee TV          metric
0  15808.265085
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='ALL INDIA 1 MN+' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2843, 419543) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

MOTU PATLU Nickelodeon          metric
0  10181.442497
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 454293) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SUHANI SI EK LADKI Star Plus          metric
0  15813.975202
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='ALL INDIA 1 MN+' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2773, 430446) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

OGGY Cartoon Network   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 429312) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

NISHA AUR USKE COUSINS Star Plus          metric
0  14399.632713
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 344364) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BIG BOSS Colors          metric
0  12841.303943
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 435472) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

QUBOOL HAI Zee TV          metric
0  12135.038491
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2845, 349798) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

CHHOTA BHEEM POGO         metric
0  7612.276725
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2853, 338896) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BADI DUR SE AAYE HAI Sony SAB         metric
0  6263.032781
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 390785) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

IS PYAAR KO KYA NAAM DOON Star Plus          metric
0  12255.819867
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='MAH' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2942, 387136) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

HONAR SUNN MI HYA GHARCHI Zee Marathi         metric
0  53745.89214
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='ALL INDIA 1 MN+' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2787, 360293) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

DORAEMON Disney Channel   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2857, 352365) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

CRIME PATROL Sony Entertainment TV         metric
0  7686.135578
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 339343) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BALIKA VADHU Colors         metric
0  7613.649609
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 337941) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

AUR PYAAR HO GAYA Zee TV         metric
0  8707.504649
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='MAH' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2942, 391639) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

JAI MALHAR Zee Marathi         metric
0  44522.77057
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='ALL INDIA 1 MN+' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2843, 429235) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

NINJA HATTAORI Nickelodeon         metric
0  6175.548941
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2780, 448398) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SHASTRI SISTERS Colors         metric
0  7028.910682
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2857, 395534) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

KAUN BANEGA CROREPATI Sony Entertainment TV         metric
0  7596.947197
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='MAH' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2942, 393548) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

KA RE DURAVA Zee Marathi          metric
0  42215.502986
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 444191) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SAPNE SUHANE LADAKPAN KE Zee TV         metric
0  7869.080321
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2853, 338365) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BAALVEER Sony SAB         metric
0  3645.414647
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='MAH' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2942, 393293) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

JULOON YETEE RESHIM GATHI Zee Marathi          metric
0  39420.023363
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15-24 ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2760, 450203) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SONG PROGRAM 9X M   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 435252) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

PYAAR KA DARD HAI Star Plus         metric
0  6847.519724
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2805, 433697) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

POKEMON HUNGAMA         metric
0  5284.552381
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS M 25+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2943, 474928) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

ZEE NEWS Zee News   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 339535) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BANDHAN Zee TV         metric
0  6792.380269
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2883, 411349) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

MAHABHARAT Star Plus         metric
0  6387.117003
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15-24 ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2759, 415086) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

MELODY FOREVER 9X Jalwa   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2950, 428482) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

NEELI CHATRI WAALE Zee TV         metric
0  5489.886791
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2857, 343804) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BHARAT KA VEER PUTRA-MAHARANA PRATAP Sony Entertainment TV         metric
0  5343.024167
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15-24 ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2759, 386883) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

HITS FOREVER 9X Jalwa   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2805, 360293) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

DORAEMON HUNGAMA         metric
0  3879.292482
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2853, 349883) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

CHIDIYA GHAR Sony SAB         metric
0  3174.766089
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2908, 359360) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

DIYA AUR BAATI HUM Star Utsav         metric
0  2990.226192
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='WB' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2877, 345558) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

BOJHENA SHE BOJHENA Star Jalsha          metric
0  52160.487082
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='WB' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2877, 391759) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

JAL NUPUR Star Jalsha          metric
0  59904.998852
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2816, 411382) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

MAHADEV Life OK         metric
0  3962.482809
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2908, 441818) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SAATHIYA SAATH NIBHANA Star Utsav         metric
0  3047.941689
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS M 25+ ABC'
                         and MARKET_DISPLAY_NAME='HSM' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2809, 450447) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

SPECIAL REPORT India TV   metric
0   None
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='MAH' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2942, 392238) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

JAWAI VIKAT GHENE AAHE Zee Marathi          metric
0  24658.099544
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='WB' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2877, 467081) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

TUMI ASBE BOLE Star Jalsha          metric
0  60403.810323
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS F 15+ ABC'
                         and MARKET_DISPLAY_NAME='MAH' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2896, 434861) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

PUDHCHA PAUL Star Pravah          metric
0  18040.228162
select sum(ADGRP) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='CS 4+'
                         and MARKET_DISPLAY_NAME='ALL INDIA' and (CHANNEL_GROUP_KEY, PROGRAM_GROUP_KEY)=(2920, 473318) and WEEK_KEY>=201530
                         and WEEK_KEY<=201551

WWE Ten Sports         metric
0  3408.734979

In [159]:
last = {'time': time.time()}
cat_lev_lis = data[['category', 'level']].values
timer("tt")

0.004: tt

In [4]:
test1 = ['a', 'b', 'c']
test2 = set(['a', 'b', 'c', 'm', 'k'])

In [14]:
isinstance(test1, (list, dict, set, tuple))

True

In [20]:
{'a': 'a', tuple(test1): 'b'}

{'a': 'a', ('a', 'b', 'c'): 'b'}