In [1]:
from sqlalchemy import create_engine
import pandas as pd
import json
import time
def timer(msg):
    #global last_time
    new_time = time.time()
    print '{:,.3f}: {:s}'.format(new_time - last['time'], str(msg))
    last['time'] = new_time
engine = create_engine('mysql://root:admin@localhost/star_custdb')

In [15]:
clients = ['HUL', 'Hero Motocorp', 'P & G', 'GSK', 'Godrej Consumer', 'Nestle India']
client = clients[0]
metric = ['ADGRP','TVT', 'FCT'][0]
tg_markt = 1
tg_name = ['CS 4+', 'CS 4+', 'CS 15+ ABC', 'CS 15+ A', 'CS 15+ AB', 'CS F 15+ ABC', 'CS 15+ AB', 'CS 15+ A',
'CS 4+','CS 15+ AB','CS 15+ A','CS M 15+ ABC','CS 4+','CS M 25+ ABC','CS F 15+ ABC',
'CS F 15+ ABC','CS M 15+','CS 15+','CS 15+'][tg_markt]
mkt_name = ['All India','HSM','HSM','HSM','HSM','HSM','All India','All India',
            'All India 1 Mn+','All India 1 Mn+','All India 1 Mn+','HSM','Mah','HSM',
            'All India 1 Mn+','Mah','Mah','All India 1 Mn+','Mah'][tg_markt]
cat_disply = ['GENRE_DISPLAY_NAME', 'CHANNEL_GROUP_DISPLAY_NAME', 'PROGRAM_GROUP_DISPLAY_NAME'][2]
s_wk_ky = 201410
e_wk_ky = 201540

In [16]:
last = {'time': time.time()}
qry = "CALL tg_affinity_wkl('{:s}', '{:s}', '{:s}', '{:s}', '{:s}', {:.0f}, {:.0f})"
qry = qry.format(client, metric, tg_name, mkt_name, cat_disply, s_wk_ky, e_wk_ky)
print qry
data = pd.read_sql(qry, engine)
timer("call proc")
len(data)

CALL tg_affinity_wkl('HUL', 'ADGRP', 'CS 4+', 'HSM', 'PROGRAM_GROUP_DISPLAY_NAME', 201410, 201540)
8.352: call proc

100

In [18]:
data['category'] = data['category'].apply(lambda v : v.upper())
data

,category,level,prog_metric,metric_share,client_metric,client_share
0,HINDI GEC,Star Network,312731.905834,769452.599271,74595.332493,163436.472526
1,HINDI GEC,Zee Network,149835.598597,769452.599271,44495.034125,163436.472526
2,HINDI GEC,Sony Network,168493.403915,769452.599271,42756.456247,163436.472526
3,MARATHI GEC,Zee Network,62174.874625,111389.622032,13988.842504,28514.813271
4,HINDI MOVIES,Zee Network,75193.389822,236518.837247,11540.253639,22584.307537
5,BENGALI GEC,Zee Network,32117.511843,77573.407202,7966.563871,17096.770498
6,MARATHI GEC,Viacom,22760.967114,111389.622032,7134.125093,28514.813271
7,HINDI MOVIES,OTHERS,14329.335797,236518.837247,6699.938996,22584.307537
8,BENGALI GEC,Star Network,35694.440658,77573.407202,5651.542803,17096.770498
9,HINDI MUSIC,OTHERS,12791.045702,28753.927381,5334.853586,7118.144470
10,MARATHI GEC,Star Network,21070.767346,111389.622032,4618.313894,28514.813271
11,BENGALI GEC,Viacom,9761.454702,77573.407202,3478.663824,17096.770498
12,MARATHI GEC,OTHERS,5383.012947,111389.622032,2773.531780,28514.813271
13,HINDI MOVIES,Sahara Network,3876.855392,236518.837247,2058.367114,22584.307537
14,HINDI MOVIES,Sony Network,53856.365479,236518.837247,1684.737453,22584.307537
15,HINDI GEC,Sahara Network,4724.480732,769452.599271,1589.649661,163436.472526
16,HINDI YOUTH,Star Network,12053.653292,26009.562423,1326.502080,2213.237479
17,ENGLISH INFO,Discovery Network,14957.107024,23655.228167,734.698870,879.760877
18,BENGALI MOVIES,Zee Network,1828.668436,5960.511060,723.676971,1031.364175
19,HINDI YOUTH,Disney UTV,7502.521014,26009.562423,667.903788,2213.237479
20,HINDI MOVIES,Star Network,61163.740876,236518.837247,598.941541,22584.307537
21,HINDI MUSIC,Zee Network,2155.899551,28753.927381,593.791785,7118.144470
22,HINDI MUSIC,Sony Network,7443.168140,28753.927381,559.277845,7118.144470
23,ENGLISH MOVIES,Turner Group,3141.169847,9919.796808,471.158021,1084.527276
24,HINDI MUSIC,9X Media,4329.820466,28753.927381,331.439091,7118.144470
25,BENGALI MOVIES,Sony Network,1296.687352,5960.511060,307.687205,1031.364175
26,HINDI MUSIC,Times Group,2033.993521,28753.927381,298.782163,7118.144470
27,ENGLISH SPORTS,Star Network,19312.346722,19312.346722,276.573759,276.573759
28,ENGLISH MOVIES,Sony Network,1995.313309,9919.796808,219.581113,1084.527276
29,HINDI YOUTH,Viacom,6453.388118,26009.562423,218.831610,2213.237479
30,ENGLISH MOVIES,Times Group,1208.216309,9919.796808,148.421567,1084.527276
31,ENGLISH INFO,Star Network,4974.728622,23655.228167,145.062007,879.760877
32,ENGLISH GEC,Star Network,1576.526292,3345.026675,136.024298,361.832655
33,ENGLISH MOVIES,Star Network,2781.143411,9919.796808,134.925732,1084.527276
34,ENGLISH LIFESTYLE,Discovery Network,1302.684240,3311.608882,120.809366,283.700190
35,ENGLISH MOVIES,Zee Network,793.953933,9919.796808,110.440842,1084.527276
36,ENGLISH LIFESTYLE,NDTV Group,605.447867,3311.608882,87.865816,283.700190
37,ENGLISH GEC,Times Group,380.296762,3345.026675,84.238914,361.832655
38,ENGLISH GEC,Sony Network,616.569149,3345.026675,80.433056,361.832655
39,ENGLISH LIFESTYLE,Star Network,1403.476775,3311.608882,75.025007,283.700190
40,ENGLISH GEC,Zee Network,634.626677,3345.026675,47.656004,361.832655
41,ENGLISH GEC,Viacom,137.007794,3345.026675,13.480384,361.832655
42,HINDI MOVIES,Disney UTV,28099.149881,236518.837247,2.068794,22584.307537
43,BENGALI NEWS,Zee Network,4047.817387,12704.181155,0.256552,0.256552

In [140]:
# genere tg market time stamps 
afnty_qry = "select TG_KEY, MARKET_KEY, {:s} category from REF_GENRE_TG_MKT".format("GENRE_NAME")
afnty_data = pd.read_sql(afnty_qry, engine)
afnty_data['category'] = afnty_data['category'].apply(lambda v : v.upper())
aff_dict = afnty_data.to_dict(orient='records')
catgry_lis, level_name, level_value = [], [], []
last = {'time': time.time()}

for row in aff_dict:
    #last = {'time': time.time()}
    #print "\n",row['category'], row['TG_KEY'], row['MARKET_KEY']
    afnty_qry1 = """select NETWORK_DISPLAY_NAME, sum({:s})metric from FACT_TG_AFFINITY_AGG_WK where TG_KEY={:s} 
                    and MARKET_KEY={:s} and {:s}='{:s}' and BARC_WEEK>={:,.0f} and
                    CALENDAR_YEAR>='{:s}' group by NETWORK_DISPLAY_NAME"""
    afnty_qry1 = afnty_qry1.format(metric, str(row['TG_KEY']), str(row['MARKET_KEY']), cat_disply, row['category'], week, year)
    afnty_data1 = pd.read_sql(afnty_qry1, engine)
    # print timer(row['category'])
    for level_lis in  afnty_data1.values:
        catgry_lis.append(row['category'])
        level_name.append(level_lis[0])
        level_value.append(level_lis[1])
res_dict = {'category': catgry_lis, 'level': level_name, 'affinity_denom': level_value}
timer("test1")

10.830: test1

In [141]:
afnty = pd.DataFrame(res_dict)
#afnty.columns = ['Affinity']
data['category'] = data['category'].apply(lambda v: v.upper())
afnty = afnty.set_index(['category', 'level'])
data = data.join(afnty, on=['category', 'level'], how='left')
data['Genre Share%'] = data['prog_metric'] / data['metric_share'] * 100
data['Client Genre Share%'] = data['client_metric'] / data['client_share']  * 100
data['affinity'] = data['prog_metric'] / data['affinity_denom'] * 100
data = data[['category', 'level', 'Genre Share%', 'affinity', 'client_metric', 'Client Genre Share%']]

In [8]:
data_tg = pd.read_sql('select * from REF_TG_MKT', engine)

qry_str = """select GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME, sum(ADGRP)prog_metric 
from star.FACT_TG_AFFINITY_AGG_WK where 
    TG_DISPLAY_NAME='{:s}' and
    MARKET_DISPLAY_NAME='{:s}' and
    BARC_WEEK>=0 and
    CALENDAR_YEAR>='2014'
    group by GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME"""

qry_str2 = """select ADVERTISERS_GROUP_DISPLAY_NAME, GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME, sum(ADGRP)prog_metric 
from star.FACT_TG_AFFINITY_AGG_WK where 
    TG_DISPLAY_NAME='{:s}' and
    MARKET_DISPLAY_NAME='{:s}' and
    BARC_WEEK>=0 and
    CALENDAR_YEAR>='2014'
    group by ADVERTISERS_GROUP_DISPLAY_NAME, GENRE_DISPLAY_NAME, NETWORK_DISPLAY_NAME"""

In [9]:
for row in data_tg.iterrows():
    vals = row[1].values
    tg_disp = vals[3]
    mkt_disp = vals[6]
    print "TG_MARKET", tg_disp, mkt_disp
    print "---------------"
    qry = qry_str.format(tg_disp, mkt_disp)
    qry_2 = qry_str2.format(tg_disp, mkt_disp)
    last = {'time': time.time()}
    all_clients = pd.read_sql(qry, engine)
    timer("All Clients")
    last = {'time': time.time()}
    clients_grp = pd.read_sql(qry_2, engine)
    timer("Clients Group BY")
    print "--------------------\n"

TG_MARKET CS 4+ HSM
---------------
4.911: All Clients
6.230: Clients Group BY
--------------------

TG_MARKET CS 15+ ABC HSM
---------------
3.819: All Clients
3.796: Clients Group BY
--------------------

TG_MARKET CS 15+ A HSM
---------------
1.843: All Clients
2.404: Clients Group BY
--------------------

TG_MARKET CS 15+ AB HSM
---------------
2.348: All Clients
2.347: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC HSM
---------------
2.178: All Clients
2.284: Clients Group BY
--------------------

TG_MARKET CS 15+ AB All India
---------------
2.371: All Clients
2.185: Clients Group BY
--------------------

TG_MARKET CS 15+ A All India
---------------
2.275: All Clients
2.167: Clients Group BY
--------------------

TG_MARKET CS 4+ All India 1 Mn+
---------------
2.677: All Clients
2.437: Clients Group BY
--------------------

TG_MARKET CS 15+ AB All India 1 Mn+
---------------
2.125: All Clients
2.328: Clients Group BY
--------------------

TG_MARKET CS 15+ A All India 1 Mn+
---------------
2.254: All Clients
2.135: Clients Group BY
--------------------

TG_MARKET CS M 15+ ABC HSM
---------------
1.421: All Clients
1.645: Clients Group BY
--------------------

TG_MARKET CS 4+ Mah
---------------
1.449: All Clients
1.421: Clients Group BY
--------------------

TG_MARKET CS M 25+ ABC HSM
---------------
2.252: All Clients
2.229: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC All India 1 Mn+
---------------
1.754: All Clients
1.893: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC Mah
---------------
1.026: All Clients
1.081: Clients Group BY
--------------------

TG_MARKET CS M 15+ Mah
---------------
1.442: All Clients
1.313: Clients Group BY
--------------------

TG_MARKET CS 15+ All India 1 Mn+
---------------
1.805: All Clients
1.482: Clients Group BY
--------------------

TG_MARKET CS 15+ Mah
---------------
1.208: All Clients
1.379: Clients Group BY
--------------------

TG_MARKET CS 4+ WB
---------------
1.052: All Clients
0.944: Clients Group BY
--------------------

TG_MARKET CS 15+ AB Mah
---------------
0.882: All Clients
0.733: Clients Group BY
--------------------

TG_MARKET CS 15+ A Mah
---------------
0.838: All Clients
0.862: Clients Group BY
--------------------

TG_MARKET CS 15+ ABC WB
---------------
0.876: All Clients
0.952: Clients Group BY
--------------------

TG_MARKET CS F 15+ ABC WB
---------------
0.934: All Clients
0.877: Clients Group BY
--------------------

TG_MARKET CS 15+ WB
---------------
0.820: All Clients
0.924: Clients Group BY
--------------------

TG_MARKET CS 15-24 ABC HSM
---------------
0.215: All Clients
0.218: Clients Group BY
--------------------

In [15]:
for r in range(5):
    vals = ["CS 4+", "HSM"]
    tg_disp = vals[0]
    mkt_disp = vals[1]
    print "TG_MARKET", tg_disp, mkt_disp, (r+1)
    print "---------------"
    qry = qry_str.format(tg_disp, mkt_disp)
    qry_2 = qry_str2.format(tg_disp, mkt_disp)
    last = {'time': time.time()}
    all_clients = pd.read_sql(qry, engine)
    timer("All Clients")
    last = {'time': time.time()}
    clients_grp = pd.read_sql(qry_2, engine)
    timer("Clients Group BY")
    print "--------------------\n"

TG_MARKET CS 4+ HSM 1
---------------
5.886: All Clients
6.520: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 2
---------------
4.668: All Clients
5.748: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 3
---------------
5.696: All Clients
5.980: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 4
---------------
4.949: All Clients
5.453: Clients Group BY
--------------------

TG_MARKET CS 4+ HSM 5
---------------
4.476: All Clients
5.400: Clients Group BY
--------------------

In [11]:
data_tg

,TG_MKT_KEY,TG_KEY,TG_NAME,TG_DISPLAY_NAME,MARKET_KEY,MARKET_NAME,MARKET_DISPLAY_NAME,TG_MARKET_DISPLAY_NAME,SOURCE,CREATED_DATE,LAST_UPD_DT,IS_ACTIVE
0,80,23,CS 4+ YRS,CS 4+,88,HSM 28,HSM,CS 4+ HSM,CUST_SALES,2015-08-11,2015-08-11,Y
1,81,1,CS ABC 15+ YRS,CS 15+ ABC,88,HSM 28,HSM,CS 15+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
2,82,14,CS A 15+,CS 15+ A,88,HSM 28,HSM,CS 15+ A HSM,CUST_SALES,2015-08-11,2015-08-11,Y
3,83,4,CS AB 15+ YRS,CS 15+ AB,88,HSM 28,HSM,CS 15+ AB HSM,CUST_SALES,2015-08-11,2015-08-11,Y
4,84,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,88,HSM 28,HSM,CS F 15+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
5,85,4,CS AB 15+ YRS,CS 15+ AB,86,ALL INDIA 13,All India,CS 15+ AB All India,CUST_SALES,2015-08-11,2015-08-11,Y
6,86,14,CS A 15+,CS 15+ A,86,ALL INDIA 13,All India,CS 15+ A All India,CUST_SALES,2015-08-11,2015-08-11,Y
7,87,23,CS 4+ YRS,CS 4+,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 4+ All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
8,88,4,CS AB 15+ YRS,CS 15+ AB,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 15+ AB All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
9,89,14,CS A 15+,CS 15+ A,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 15+ A All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
10,90,3,CS MALE ABC 15+ YRS,CS M 15+ ABC,88,HSM 28,HSM,CS M 15+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
11,91,23,CS 4+ YRS,CS 4+,27,MAH 09,Mah,CS 4+ Mah,CUST_SALES,2015-08-11,2015-08-11,Y
12,92,3008,CS MALE ABC 25+ YRS,CS M 25+ ABC,88,HSM 28,HSM,CS M 25+ ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y
13,93,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,61,ALL INDIA 1 MN+,All India 1 Mn+,CS F 15+ ABC All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
14,94,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,27,MAH 09,Mah,CS F 15+ ABC Mah,CUST_SALES,2015-08-11,2015-08-11,Y
15,95,3090,CS MALE 15+ YRS,CS M 15+,27,MAH 09,Mah,CS M 15+ Mah,CUST_SALES,2015-08-11,2015-08-11,Y
16,96,3042,CS 15+ YRS,CS 15+,61,ALL INDIA 1 MN+,All India 1 Mn+,CS 15+ All India 1 Mn+,CUST_SALES,2015-08-11,2015-08-11,Y
17,97,3042,CS 15+ YRS,CS 15+,27,MAH 09,Mah,CS 15+ Mah,CUST_SALES,2015-08-11,2015-08-11,Y
18,98,23,CS 4+ YRS,CS 4+,46,WB 09,WB,CS 4+ WB,CUST_SALES,2015-08-11,2015-08-11,Y
19,99,4,CS AB 15+ YRS,CS 15+ AB,27,MAH 09,Mah,CS 15+ AB Mah,CUST_SALES,2015-08-11,2015-08-11,Y
20,100,14,CS A 15+,CS 15+ A,27,MAH 09,Mah,CS 15+ A Mah,CUST_SALES,2015-08-11,2015-08-11,Y
21,101,1,CS ABC 15+ YRS,CS 15+ ABC,46,WB 09,WB,CS 15+ ABC WB,CUST_SALES,2015-08-11,2015-08-11,Y
22,102,2,CS FEMALE ABC 15+ YRS,CS F 15+ ABC,46,WB 09,WB,CS F 15+ ABC WB,CUST_SALES,2015-08-11,2015-08-11,Y
23,103,3042,CS 15+ YRS,CS 15+,46,WB 09,WB,CS 15+ WB,CUST_SALES,2015-08-11,2015-08-11,Y
24,104,20,CS ABC 15-24 YRS,CS 15-24 ABC,88,HSM 28,HSM,CS 15-24 ABC HSM,CUST_SALES,2015-08-11,2015-08-11,Y

In [18]:
# genere tg market time stamps 
afnty_tab_map = {'GENRE_DISPLAY_NAME': ['NETWORK_DISPLAY_NAME', 'GENRE_NAME', 'REF_GENRE_TG_MKT'], 
 'CHANNEL_GROUP_DISPLAY_NAME': ['GENRE_DISPLAY_NAME', 'CHANNEL_GROUP_DISPLAY_NAME', 'REF_CH_GROUP_TG_MKT'],
'PROGRAM_GROUP_DISPLAY_NAME': ['CHANNEL_GROUP_DISPLAY_NAME', 'CHANNEL_GROUP_DISPLAY_NAME', 'REF_CH_GROUP_TG_MKT']}
afnty_table = afnty_tab_map[cat_disply][2]
afnty_levl = afnty_tab_map[cat_disply][0]
afnty_col_map = afnty_tab_map[cat_disply][1]

afnty_qry = "select TG_DISPLAY_NAME, MARKET_DISPLAY_NAME, {:s} category from {:s}".format(afnty_col_map, afnty_table)
afnty_data = pd.read_sql(afnty_qry, engine)
data['category'] = data['category'].apply(lambda v: v.upper())
afnty_data['category'] = afnty_data['category'].apply(lambda v : v.upper())
aff_dict = json.loads(afnty_data.set_index('category').to_json(orient='index'))
# catgry_lis, level_name, level_value = [], [], []
# last = {'time': time.time()}

# for row in aff_dict:
#     last = {'time': time.time()}
#     #print "\n",row['category'], row['TG_KEY'], row['MARKET_KEY']
#     afnty_qry1 = """select NETWORK_DISPLAY_NAME, sum({:s})metric from FACT_TG_AFFINITY_AGG_WK where TG_KEY={:s} 
#                     and MARKET_KEY={:s} and {:s}='{:s}' and BARC_WEEK>={:,.0f} and
#                     CALENDAR_YEAR>='{:s}' group by NETWORK_DISPLAY_NAME"""
#     afnty_qry1 = afnty_qry1.format(metric, str(row['TG_KEY']), str(row['MARKET_KEY']), cat_disply, row['category'], week, year)
#     afnty_data1 = pd.read_sql(afnty_qry1, engine)
#     print timer(row['category'])
#     for level_lis in  afnty_data1.values:
#         catgry_lis.append(row['category'])
#         level_name.append(level_lis[0])
#         level_value.append(level_lis[1])
# res_dict = {'category': catgry_lis, 'level': level_name, 'affinity_denom': level_value}

In [19]:
cat_lev_lis = data[['category', 'level']].values
last = {'time': time.time()}
for val in cat_lev_lis:
    key = val[1] if cat_disply == 'PROGRAM_GROUP_DISPLAY_NAME' else val[0]
    key = key.upper()
    if key in aff_dict:
        tg_key = aff_dict[key]['TG_DISPLAY_NAME']
        mk_key = aff_dict[key]['MARKET_DISPLAY_NAME']
        afnty_qry1 = """select sum({:s}) metric from FACT_TG_AFFINITY_AGG_WK where TG_DISPLAY_NAME='{:s}' 
                         and MARKET_DISPLAY_NAME='{:s}' and ({:s},{:s})=('{:s}','{:s}') and WEEK_KEY>={:.0f}
                         and WEEK_KEY<={:.0f}
                         """
        afnty_qry1 = afnty_qry1.format(metric, tg_key, mk_key,
                                       cat_disply, afnty_levl, val[0], val[1], s_wk_ky, e_wk_ky)
        #print afnty_qry1
        last = {'time': time.time()}
        afnty_data1 = pd.read_sql(afnty_qry1, engine)
        #print val[0],val[1],afnty_data1
        timer(val[0]+'-'+val[1])
timer("test2")

0.036: TAARAK MEHTA KA OOLTAH CHASHMA-Sony SAB
0.020: C.I.D.-Sony Entertainment TV
0.020: SAVDHAAN INDIA-Life OK
0.016: SAATHIYA-Star Plus
0.020: KUMKUM BHAGYA-Zee TV
0.020: JODHA AKBAR-Zee TV
0.024: VEERA-Star Plus
0.020: SUHANI SI EK LADKI-Star Plus
0.024: DIYA AUR BATI HUM-Star Plus
0.016: QUBOOL HAI-Zee TV
0.028: YE HAI MOHABBATEIN-Star Plus
0.016: DOLI ARMANO KI-Zee TV
0.016: CRIME PATROL-Sony Entertainment TV
0.016: JAMAI RAJA-Zee TV
0.012: SAPNE SUHANE LADAKPAN KE-Zee TV
0.016: YRKKH-Star Plus
0.012: PYAAR KA DARD-Star Plus
0.008: SARASWATI CHANDRA-Star Plus
0.012: AUR PYAAR HO GAYA-Zee TV
0.012: BAALVEER-Sony SAB
0.016: IPKKND_2-Star Plus
0.016: CHHOTA BHEEM-POGO
0.032: BADI DUR SE AAYE HAI-Sony SAB
0.008: UNMAPPED-9X Jalwa
0.028: EK HASINA THI-Star Plus
0.032: NISHA-Star Plus
0.000: OGGY-Cartoon Network
0.020: MAHABHARAT HINDI-Star Plus
0.036: HONAR SUNN MI HYA GHARCHI-Zee Marathi
0.020: JAI MALHAR-Zee Marathi
0.008: PAVITRA RISHTA-Zee TV
0.012: DIYA AUR BATI HUM-Star Utsav
0.016: JULOON YETEE RESHIM GATHI-Zee Marathi
0.012: UNMAPPED-Zee TV
0.008: EK MUTTHI AASMAAN-Zee TV
0.016: MAHADEV-Life OK
0.008: SAATHIYA-Star Utsav
0.008: CHIDIYA GHAR-Sony SAB
0.012: TU MAJHA SANGATI-Colors Marathi
0.012: DIDI NO 1-Zee Bangla
0.008: YRKKH-Star Utsav
0.012: NEELI CHATRI WAALE-Zee TV
0.008: TUMHARI PAKHI-Life OK
0.004: MORNING MASALA-B4U Music
0.008: UNMAPPED-Saam
0.004: LOVE KAL AAJ AUR KAL-Mastiii
0.004: PRATIGYA-Star Utsav
0.004: DO DIL BANDHE EK DORI SE-Zee TV
0.020: KA RE DURAVA-Zee Marathi
0.004: FEAR FILES-Zee TV
0.016: JAWAI VIKAT GHENE AAHE-Zee Marathi
0.004: TU MERE AGAL BAGAL HAI-Sony SAB
0.016: RAJYOTAK-Zee Bangla
0.016: MAJHE MANN TUJHE JHALE-Colors Marathi
0.008: MI MARATHI NEWS PROGRAM-Mi Marathi
0.016: RAIKISHORI-Zee Bangla
0.008: PYAAR KA DARD-Star Utsav
0.004: MAHABHARAT HINDI-Star Utsav
0.024: UNMAPPED-Zee Cinema
0.008: ENTERTAINMENT KE LIYE KUCH BHI KAREGA-Sony Entertainment TV
0.012: ISHTI KUTUM-Star Jalsha
0.008: LAPATAGANJ-Sony SAB
0.016: PUDHCHA PAAUL-Star Pravah
0.012: SHAPATH-Life OK
0.008: CHANDRAKANT CHIPLUNKAR SEEDI BAMBAWALA-Sony SAB
0.016: RAAGE ANURAAGE-Zee Bangla
0.016: BHARAT KA VEER PUTRA-MAHARANA PRATAP-Sony Entertainment TV
0.016: ASAVA SUNDAR SWAPNANCHA BANGLA-Colors Marathi
0.012: LAUT AAO TRISHA-Life OK
0.016: BOYE E GELO-Zee Bangla
0.004: VEERA-Star Utsav
0.020: DEVYANI-Star Pravah
0.008: INDIAS BEST CINE STARS KI KHOJ-Zee TV
0.012: RAJLAKSHMI KURUKSHETRAM-Zee Bangla
0.004: LAGE RAHO-Music India
0.008: CHHOTI BAHU-Zee Anmol
0.020: MOTU PATLU-Nickelodeon
0.004: NAAGINN-Zee Anmol
0.008: FU BAI FU-Zee Marathi
0.000: BOOM BOX-B4U Music
0.008: GUSTAKH DIL-Life OK
0.004: ALADDIN-Zee Anmol
0.012: FIR-Sony SAB
0.004: GUN GUN GUNAARE-Mastiii
0.012: DIRAGAMAN-Zee Bangla
0.004: DHOOM MACHALE-Mastiii
0.008: LAKSHYA-Star Pravah
0.012: CHALA HAVA YEUN DYA-Zee Marathi
0.008: HRIDAYI PREET JAGATE-Colors Marathi
0.004: AAWAAZ DE KAHAAN HAI-B4U Music
0.008: EK BOOND ISHQ-Life OK
0.012: GANDH PHULANCHA GELA SANGUN-Colors Marathi
0.016: RASHI-Zee Bangla
0.008: ADAALAT-Sony Entertainment TV
0.004: SASURAL GENDA PHOOL-Star Utsav
0.008: EKA LAGNACHI TISARI GOSHTA-Zee Marathi
0.004: DORAEMON-Disney Channel
0.004: MI MARATHI BATMYA-Mi Marathi
0.016: KIRANMALA-Star Jalsha
0.016: UNMAPPED-&pictures
0.000: test2

In [159]:
last = {'time': time.time()}
cat_lev_lis = data[['category', 'level']].values
timer("tt")

0.004: tt